.image {
  
  display: block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  -ms-border-radius: 180px;
  -o-border-radius: 180px;
  border-radius: 180px;
  position: relative; /* for the overlay later */
  margin: 200px auto;
  text-align: center;
  margin-bottom: 10px;
  border: 3px solid #FFF;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  /* make resized images look good in IE */
  -ms-interpolation-mode: bicubic;
}

body {
  font: 300 16px/1.5 Helvetica, Arial, sans-serif;
  text-align: center;
    background: #f2eee3;
}

.image span {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #888;
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 3em 1em 0;
}

.image:hover span {
  display: block;
}
